.bottom-panel {
    flex: .13;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    position: relative;
    background-color: var(--light-green);
    -unity-font-style: bold;
    font-size: 24px;
    color: var(--white);
    padding: 8px 12px;
    border-radius: 10px;
    transition: border-width .15s ease-out, translate .15s ease-out;
}

.button:hover {
    border-width: 3px;
    translate: 0px -3px;
}