.root {
    --white: #f8f7f6;
    --black: #212121;
    --light-green: #8DE4AF;
    --dark-green: #389485;
    --winning-line-color: limegreen;
    background-color: var(--white);
    top: 0;
}

.board-container{
    flex: .67;
}